<!-- 
<div class="modal-header">
<h3 class="modal-title">Header</h3>
</div>
<div class="modal-body">
Popup example with close button
</div>
<div class="modal-footer">
<button class="btn btn-warning" type="button"
ng-click="close()">Close</button>
</div>
 -->
<div class="modal-header">
<h3 class="modal-title heading">Edit an Event</h3>
</div>
<div class="modal-body">
        <div class="innerWrap sub-modal">

<!--   <label>Single word:
    <input type="date" name="input" ng-model="example.date"
           ng-pattern="example.word" required ng-trim="false">
  </label>

<input ng-model="query" value="{{item.date | date:'dd/MM/yyyy'}}">
 <div ng-repeat="item in (filteredItems = (editData  | filter:query | limitTo:4))">
   {{item.date | date:'dd/MM/yyyy'}}
 </div>

 -->
          <div ng-repeat= "ed in editData">
          	<span ng-init="editeventdate=ed.date | date:'dd/MM/yyyy'"></span>

	      <form name="form" novalidate>
		    <div class="row" ng-class="{true: 'error'}[submitted && form.ename.$invalid  && form.date.$invalid && form.venue.$invalid && form.organizer.$invalid && form.oemail.$invalid ]">
		        <div class="form-group col-md-8">
		          <p>Event Name<span class="red-it">*</span>:</p>
		          <input type="text" name="ename" class="form-control" ng-model="ed.name" required />
		          <span style="color:red" ng-show="form.ename.$dirty && form.ename.$invalid">
		          <span ng-show="form.ename.$error.required">Event Name is Required</span>
		          </span>
		        </div>
		        <div class="form-group col-md-8">
		          <p>Date<span class="red-it">*</span> (dd-mm-yyyy):</p>
		          <input type="text" name="date" class="form-control" ng-model="editeventdate" required />
		          <span style="color:red" ng-show="form.date.$dirty && form.date.$invalid">
		          <span ng-show="form.date.$error.required">Choose Correct Date</span>
		          </span>
		        </div>
		        <div class="form-group col-md-8">
		          <p>Organizer<span class="red-it">*</span>:</p>
		          <input type="text" name="organizer" class="form-control" ng-model="ed.organizer" required />
		          <span style="color:red" ng-show="form.organizer.$dirty && form.organizer.$invalid">
		          <span ng-show="form.organizer.$error.required">Please enter organizer</span>
		          </span>
		        </div>
		        <div class="form-group col-md-8">
		          <p>Organizer Email<span class="red-it">*</span>:</p>
		          <input type="email" name="oemail" class="form-control" ng-model="ed.oemail" required />
			      <span style="color:red" ng-show="form.oemail.$dirty && form.oemail.$invalid">
			      <span ng-show="form.oemail.$error.required">Email is required.</span>
			      <span ng-show="form.oemail.$error.email">Invalid email address.</span>
			      </span>
		        </div>
		        <div class="form-group col-md-8">
		          <p>Venue<span class="red-it">*</span>:</p>
		          <input type="text" name="venue" class="form-control" ng-model="ed.venue" required />
		          <span style="color:red" ng-show="form.venue.$dirty && form.venue.$invalid">
		          <span ng-show="form.venue.$error.required">Venue is Required</span>
		          </span>
		        </div>
		        <div class="form-group col-md-8">
		          <p>Description:</p>
		          <textarea rows="4" name="description" ng-model="ed.description" id="description" cols="50"></textarea>
		        </div>

		        <div class="form-group col-md-8">
		          <!-- <button class="btn btn-primary" ng-disabled="form.email.$invalid || form.name.$invalid || form.date.$invalid || form.contact.$invalid" type="submit">Register</button> -->
		          <p><input class="btn btn-primary" type="submit" name="submit" value="Update Event" ng-disabled="form.ename.$invalid || form.date.$invalid || form.venue.$invalid || form.organizer.$invalid || form.oemail.$invalid" ng-click="updateEvent(ed.eventID,ed.name,editeventdate,ed.organizer,ed.oemail,ed.venue,ed.description)">


		        <button class="btn btn-warning" type="" ng-click="cancelDelete()">Cancel</button></p>

		        </div>

		    </div>
		 </form>	


          </div>
            <!-- <form class="form-horizontal">
              <div class="row btn-col min-btn">
                  <div class="col-sm-4 col-sm-offset-1 columns">
                      <button class="btn grn-btn m-t-0" type="" ng-click="ok()">Ok</button>
                  </div>
                  <div class="col-sm-5 col-sm-offset-1 columns">
                      <button class="btn grn-btn line-btn  m-t-0" type="" ng-click="cancelDelete()">Cancel</button>
                  </div>
              </div>
            </form> -->
        </div>
      </div>
